.userSection{
    width: 33%;
}
.appSection{
    margin-left: 1%;
    width: 66%;
    min-height: 40em;
    background-color: goldenrod;
}

@media only screen and (max-width: 768px) {
    .appSection{
        position: absolute;
        min-height: 20em;
        background-color: blueviolet;
        margin-top: 22em;
        width: 100vh;
    }
}
