<app-navbar></app-navbar>
<div class="container" *ngIf="template == 0 || !template">
    <div class="row">
        <div class="col-4">
            <!-- INFO LINKEDIN -->
            <section>
                <user-info></user-info>
            </section>
            <!-- FIN INFO LINKEDIN -->
        </div>
        <div class="col-8">
             <current-apps></current-apps>
        </div>
    </div>
</div>
<div class="container" *ngIf="template == 1">
    T2
</div>
<div class="container" *ngIf="template == 2">
    T3
</div>