<div class="wrapper">
  <div class="container">
    <figure>
      <img class ="logoLogin"src="../../../assets/img/logo.png" alt="Logo Maletin">
      <div class="logoFont">PORFOLIO</div>
    </figure>

    <form class="form">
      <nav>
        <a routerLink="/dashboard">
          <img ng-click="" class="loginLink" src="../../../assets/buttons/es_ES.png" alt="Longin linkendin">
        </a>
      </nav>
      
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>