<section>
  <div class="container" style="max-width: 100%;">
      <div class="grid">
          <figure class="effect-chico">
              <img style="margin-left: 4em;margin-top: 3em; width: 45%;" src="../../../assets/img/mas.png" alt="Añadir nueva App" />
            <figcaption>
              <p>Añade una nueva aplicación</p>
              <a href="addApp">View more</a>
            </figcaption>
          </figure>
        <figure class="effect-oscar">
          <img src="../../../assets/img/orangeico.jpg" alt="img09" />
          <figcaption>
            <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Orange
            </h3>
            <p>Breve descripcion de la aplicación.</p>
            <a href="#">View more</a>
          </figcaption>
        </figure>
      </div>
  </div>
  <!--<div *ngFor='let app of apps; trackBy: index;'>-->
</section>