<section>
  <div class="container" style="max-width: 100%;">
      <div class="grid">
          <figure class="effect-chico">
              <img style="margin-left: 4em;margin-top: 3em; width: 45%;" src="../../../assets/img/mas.png" alt="Añadir nueva App" />
            <figcaption>
              <p>Añade una nueva aplicación</p>
              <a href="addApp">View more</a>
            </figcaption>
          </figure>
        <figure class="effect-oscar" *ngFor="let app of user.aplications; let i = index">
          <img src="../../../assets/img/default.png" alt="img09" />
          <figcaption>
            <h3 style="color:black;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{app.name}}
            </h3>
            <p>{{app.desc}}</p>
            <a [href] ="app.url">View more</a>
          </figcaption>
        </figure>
      </div>
  </div>
  <!--<div *ngFor='let app of apps; trackBy: index;'>-->
</section>