<div class="custom-file">
  <input type="file" (change)="onFileChanged($event)"  #fileInput class="custom-file-input" id="customFile" style="visibility: hidden;">
  <label class="custom-file-label" for="customFile" style="visibility: hidden;">
    <mat-icon class="editFoto" style="height: 1.2em; width: 1.2em; border-radius: 1em; visibility: visible;">add_a_photo</mat-icon>
  </label>
</div>
<div class="card border-warning">
  <div class="card-body">
    <img class="card-img-top" [src]= " user.url ? user.url : '../../../assets/img/user.svg'" alt="Card image cap">
    <hr>
    <h4 class="card-title text-center">{{user.name}} {{user.surname}}</h4>
    <ngb-tabset>
      <ngb-tab id="configTab" title="Aptitudes" class="tabsUser">
        <ng-template ngbTabContent>
          <p class="card-text">{{user.aptitudes}}</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="configTab2" title="Mis Logros">
        <ng-template ngbTabContent>
          <p class="card-text">{{user.logros}}
          </p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>