.card{
}
.card .card-body .card-img-top{
    width: 10em;
    margin-left: 4.5em;
}


@media only screen and (max-width: 768px) {
    .card{
        width: 360%;
    }
    .card .card-title {
        padding-left: 1.5em;
    }
    .card .card-body .card-img-top{
        width: 8em;
        padding-left: 2.5em;
    }
}